@font-face {
  font-family: OpenSans-Bold;
  src: url("./assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-family: OpenSans-SemiBold;
  src: url("./assets/fonts/OpenSans-SemiBold.ttf");
}
@font-face {
  font-family: OpenSans-Regular;
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}
@font-face {
  font-family: OpenSans-Medium;
  src: url("./assets/fonts/OpenSans-Medium.ttf");
}

@font-face {
  font-family: BobbyJones;
  src: url("./assets/fonts/BobbyJones-Soft.otf");
}

@import "tailwindcss";

@theme {
  --font-opensans-bold: OpenSans-Bold, "sans-serif";
  --font-opensans-semibold: OpenSans-SemiBold, "sans-serif";
  --font-opensans-regular: OpenSans-Regular, "sans-serif";
  --font-opensans-medium: OpenSans-Medium, "sans-serif";
  --font-bobbyjones-soft: BobbyJones, "sans-serif";
}

.navbar-text {
  @apply text-[16px] text-lg font-opensans-semibold tracking-widest text-[rgba(226,103,100,0.30)] hover:text-[#E26764] hover:underline hover:underline-offset-4 hover:decoration-[#E26764];
}

.navbar-text-selected {
  @apply text-[16px] text-lg font-opensans-semibold tracking-widest text-[#E26764] underline underline-offset-4 decoration-[#E26764];
}

.gradient-bg {
  @apply bg-gradient-to-r from-[#E26764] to-[#FDDB87];
}

.icon-white {
  @apply text-white drop-shadow-lg cursor-pointer hover:text-gray-200;
}

.footer-body-text {
  @apply text-white font-opensans-semibold tracking-widest text-shadow-lg;
}

.input-field {
  @apply bg-white border-2 border-black rounded-[7px] w-[450px] p-[5px] drop-shadow-lg;
}

.button-red {
  @apply cursor-pointer w-[110px] bg-[#E26764] border-black font-opensans-bold text-lg hover:bg-[#D15553];
}

/* White text with black outline */
.text-outline-white {
  @apply text-white font-bold;
  -webkit-text-stroke: 0.7px black;
}

/* Red text with black outline */
.text-outline-red {
  @apply text-[#E26764] font-bold;
  -webkit-text-stroke: 0.7px black;
}

/* Gradient text with black outline */
.text-outline-gradient {
  @apply bg-gradient-to-r from-[#E26764] to-[#FDDB87] bg-clip-text text-transparent;
  -webkit-text-stroke: 0.7px black;
}

/*------------------------------------HOME STYLES------------------------------------*/

.thumbnail-img {
  @apply w-120 h-95 border-2 rounded-md shadow-[0_4px_4px_rgba(0,0,0,0.25)];
}

.pet-care-label {
  @apply bg-gradient-to-r from-[#FDDB87] to-[#E26764] border-2 rounded-md w-40 px-4 py-1 shadow-[0_4px_4px_rgba(0,0,0,0.25)];
}

.pet-care-text {
  @apply text-2xl;
}

.pet-care-icon-container {
  @apply w-20 h-20 bg-white rounded-full border ml-[-20px] flex justify-center items-center;
}

.pet-care-icon {
  @apply w-12 h-12;
}

.pet-grooming-label {
  @apply bg-gradient-to-r from-[#FDDB87] to-[#E26764] border-2 rounded-md w-45 px-4 py-1 flex flex-col shadow-[0_4px_4px_rgba(0,0,0,0.25)];
}

.pet-grooming-icon-container {
  @apply w-20 h-20 bg-white rounded-full border absolute -top-2 -left-8 flex justify-center items-center shadow-md;
}

.pet-grooming-icon {
  @apply w-12 h-12;
}

.text-content {
  @apply flex flex-col;
}

.about-us-button {
  @apply cursor-pointer bg-[#f57474] hover:bg-[#D15553] border-2 border-black rounded-md px-22 py-1 mt-2 shadow-[0_4px_4px_rgba(0,0,0,0.25)] text-xl;
}

.welcome-message {
  @apply font-opensans-semibold text-justify tracking-widest leading-normal text-[1rem] mt-4 px-38;
}

.brand-name {
  @apply underline italic text-[#F57474] font-opensans-bold;
}

.home-text-stroke {
  @apply text-white font-bold;
  -webkit-text-stroke: 1.3px black;
}

/* Specific styling for text elements */
.home-snip-text {
  @apply font-bobbyjones-soft text-7xl;
  -webkit-text-stroke: 2px black;
  background: linear-gradient(90deg, #f57474 20%, #fddb87 35%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.home-hooray-text {
  @apply font-bobbyjones-soft text-9xl;
  -webkit-text-stroke: 2px black;
  background: linear-gradient(90deg, #f57474 40%, #fddb87 95%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.home-groomingcomes-text {
  @apply font-bobbyjones-soft text-6xl;
  -webkit-text-stroke: 2px black;
  background: linear-gradient(90deg, #f57474 10%, #fddb87 45%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.home-yourway-text {
  @apply font-bobbyjones-soft text-7xl;
  -webkit-text-stroke: 2px black;
  background: linear-gradient(90deg, #f57474 15%, #fddb87 70%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}


/*------------------------------------SERVICES STYLES------------------------------------*/

.services-services-text {
  @apply font-bobbyjones-soft text-8xl;
  -webkit-text-stroke: 2px black;
  background: linear-gradient(90deg, #F57474 0%, #FDDB87 77% ,#F9A77E 94%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.servies-pet-container {
  @apply bg-gradient-to-r from-[#E26764] to-[#FDDB87] ;
}

.servies-text-stroke{
  @apply font-bobbyjones-soft;
  text-shadow: 0px 7px 10px rgba(51, 51, 51, 0.5);
}


.carousel-container {
  margin: 50;
}

.carousel-pet-container {
  @apply bg-gradient-to-r from-[#E26764] to-[#FDDB87] ;
}

.slick-prev:hover:before,
.slick-next:hover:before {
  color: darkred; 
  font-size: 3xl;
}


.services-book-button {
  @apply cursor-pointer bg-[#E26764] hover:bg-[#D15553];
  width: 180px;
  height: 35px;
}

.services-options-button {
  @apply cursor-pointer bg-[#f57474] hover:brightness-90;
;
}

.text-outline-white2 {
  @apply text-white font-extrabold text-3xl;
  -webkit-text-stroke: 2px black;
}
.text-outline-white3 {
  @apply text-white font-extrabold text-2xl;
  -webkit-text-stroke: 1.5px black;
}
 .text-outline-white4 {
  @apply text-white font-bold text-3xl;
  -webkit-text-stroke: 1.6px black;
}

